{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-react", {
      "runtime": "automatic",
      "importSource": "@emotion/react"
    }]
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "functions": [
        "jest.mock",
        "import",
        "rootTransformed"
      ],
      "paths": [
        {
          "rootPathPrefix": "^/",
          "rootPathSuffix": "src"
        },
        {
          "rootPathPrefix": "?/",
          "rootPathSuffix": "tests"
        },
        {
          "rootPathPrefix": "~/",
          "rootPathSuffix": "assets/images"
        },
        {
          "rootPathPrefix": "!/",
          "rootPathSuffix": "src/core"
        },
        {
          "rootPathPrefix": "%/",
          "rootPathSuffix": "src/Modules"
        },
        {
          "rootPathPrefix": ">/",
          "rootPathSuffix": "src/core/services"
        },
        {
          "rootPathPrefix": "{}/",
          "rootPathSuffix": "webpack"
        },
        {
          "rootPathPrefix": "=/",
          "rootPathSuffix": "src/static"
        }
      ]
    }],
    "@babel/plugin-syntax-jsx",
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["@babel/plugin-transform-template-literals", {"loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["@emotion", {
      "sourceMap": true,
      "autoLabel": "dev-only",
      "labelFormat": "[dirname]-[filename]-[local]",
      "cssPropOptimization": true
    }]
  ]
}