# Templates @ https://github.com/github/gitignore

# App
package-lock.json

# IDEs & OS
.vscode
.fttemplates
jsconfig.json
.git
.idea
.DS_Store
.bash_history

# Environment
reports/
.tmp
.cert
local.log

# NPM
node_modules

# Build assets
webpack/development/
webpack/production/

# Tests
/tests/__snapshots__

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

